* {
	visibility: hidden;
}

html {
	height: 100%;
}

body {
	background-color: #000;
	height: 100%;
	margin: 0;
	perspective: 250px;
}

audio {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.melodybar {
	position: fixed;
	left: 0;
	top: 25%;
	background-color: #FFFFFF;

	mix-blend-mode: difference;
	width: 100%;
	height: 32px;
	z-index: 0;
	animation: hueshift 0.1s infinite linear;
}

#starfieldCanvas {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
}

#square {
	position: fixed;
	width: 100vmin;
	height: 100vmin;
    left: Calc(50% - 50vmin);
    top: Calc(50% - 50vmin);
}

#cubacontainercontainer {
	/*position: fixed;*/
	position: absolute;
	top: 45vmin;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
}
#cubacontainer {
	animation: cubatilt 1s infinite alternate ease-in-out, hueshift 1s infinite linear;
}

#cubagif {
	width: 80vmin;
	animation: cubagif 0.96s ease;
	z-index: 10;
}
#cubagif.a {
	animation: cubagif2 0.96s ease;
}

#topletters, #bottomletters {
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	text-shadow: white 0 0 16px;
}
#topletters {
	top: 10vmin;
}
#bottomletters {
	bottom: 30vmin;
}
.letter {
	display: inline-block;
	font-size: 10vmin;
	color: #fff;
	animation: text 1s infinite cubic-bezier(0.47, 0, 0.47, 1);
	z-index: 1000;
	font-family: 'Architects Daughter', 'Comic Sans', 'Times New Roman', sans-serif;
}
.letter:nth-child(5n+1) {
	animation-delay: -0.1s;
}
.letter:nth-child(5n+2) {
	animation-delay: -0.2s;
}
.letter:nth-child(5n+3) {
	animation-delay: -0.3s;
}
.letter:nth-child(5n+4) {
	animation-delay: -0.4s;
}
.letter:nth-child(5n+5) {
	animation-delay: -0.5s;
}
.letter:nth-child(5n+6) {
	animation-delay: -0.6s;
}
.letter:nth-child(5n+7) {
	animation-delay: -0.7s;
}
.letter:nth-child(5n+8) {
	animation-delay: -0.8s;
}
.letter:nth-child(5n+9) {
	animation-delay: -0.9s;
}

.spacecuba {
	display: block;
	width: 100%;
	font-family: 'Londrina Outline', sans-serif;
	font-size: 14vmin;
	font-weight: bold;
	color: hsl(0, 100%, 50%);

	perspective: 150px;
	perspective-origin: 50% -8vmin;
}
.spacecuba div {
	animation: spacecubastack infinite 1s cubic-bezier(1, 0, 1, 1) reverse;
	position: absolute;
	top: 8vmin;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 32px;
}

.spacecuba div:nth-child(10n+1) {
	animation-delay: -0.1s;
	color: hsl(36, 100%, 50%);
}
.spacecuba div:nth-child(10n+2) {
	animation-delay: -0.2s;
	color: hsl(72, 100%, 50%);
}
.spacecuba div:nth-child(10n+3) {
	animation-delay: -0.3s;
	color: hsl(108, 100%, 50%);
}
.spacecuba div:nth-child(10n+4) {
	animation-delay: -0.4s;
	color: hsl(144, 100%, 50%);
}
.spacecuba div:nth-child(10n+5) {
	animation-delay: -0.5s;
	color: hsl(180, 100%, 50%);
}
.spacecuba div:nth-child(10n+6) {
	animation-delay: -0.6s;
	color: hsl(216, 100%, 50%);
}
.spacecuba div:nth-child(10n+7) {
	animation-delay: -0.7s;
	color: hsl(252, 100%, 50%);
}
.spacecuba div:nth-child(10n+8) {
	animation-delay: -0.8s;
	color: hsl(288, 100%, 50%);
}
.spacecuba div:nth-child(10n+9) {
	animation-delay: -0.9s;
	color: hsl(324, 100%, 50%);
}

.exit {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 4px;
	color: #777777 !important;
}

@keyframes spacecubastack {
	0% {
		transform: translateZ(-50px);
		opacity: 0;
		z-index: -100;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateZ(50px);
		opacity: 0;
		z-index: 100;
	}
}
@keyframes cubatilt {
	0% {
		transform: rotate(-20deg);
	}                                                  
	100% {                                             
		transform: rotate(0deg);
	}
}
@keyframes cubagif {
	0% {
		transform: scale(1.5);
		filter: drop-shadow(0 0 8px cyan) saturate(600%);
	}
	100% {
		transform: scale(1);
		filter: drop-shadow(0 0 8px cyan) saturate(100%);
	}
}
@keyframes cubagif2 {
	0% {
		transform: scale(1.5);
		filter: drop-shadow(0 0 8px cyan) saturate(600%);
	}
	100% {
		transform: scale(1);
		filter: drop-shadow(0 0 8px cyan) saturate(100%);
	}
}

@keyframes text {
	0% {
		transform: translateY(-25%);
	}
	50% {
		transform: translateY(25%);
	}
	100% {
		transform: translateY(-25%);
	}
}

@keyframes hueshift {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
